<div class="features">
    <!-- get all pages from this section that are not the index page -->
    {{ $pages := where (where .Site.Pages "Section" .Section) "Kind" "page" }}
    {{ if isset .Params "sort_by" }}
        {{ $pages = sort $pages .Params.sort_by "asc" }}
    {{ end }}
    {{ range $pages }}
        <section>
            {{ if isset .Params "icon" }}
                <span class="icon major {{ .Params.icon }}"></span>
            {{ end }}
            <div class="content">
                {{ .Summary }}
                {{ partial "more.html" . }}
            </div>
        </section>
    {{ end }}
</div>
