[submodule "public"]
	path = public
	url = https://github.com/felixlinker/felixlinker.github.io.git
	branch = master
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng
